<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @word.title %></h1>
      <p class="card-text">詳細: <%= @word.content %></p>
      <p class="card-text">評価: <%= @word.rating %></p>
      <p class="card-text">投稿日時: <%= @word.created_at %></p>
      <p class="card-text">閲覧数: <%= @word.views_count %></p>
      <p class="card-text">いいね数: <%= @likes.count %></p>
<% if current_customer && @likes.exists?(customer: current_customer) %>
  <%= link_to "いいねを取り消す", word_like_path(@word, @likes.find_by(customer: current_customer)), method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to "いいねする", word_likes_path(@word), method: :post, class: "btn btn-success" %>
<% end %>
      <%= form_with model: [@word, @word_comment] do |f| %>
        <%= f.text_area :comment, rows:'5', placeholder: "コメント欄", class: "w-100" %>
        <%= f.submit "送信" %>
      <% end %>
      <h3 class="mt-4">コメント一覧</h3>
      <ul>
        <% @word.word_comments.each do |comment| %>
          <li>
            <strong><%= comment.customer.username %> さん</strong>
            <p><%= comment.comment %></p>
            <p class="text-muted"><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
          </li>
        <% end %>
      </ul>

      <%= link_to '戻る', words_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
