<nav class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo' %>
    <% end %>
  </div>

  <div class="nav-links">
    <% if customer_signed_in? %>
      <li><%= link_to '話題', words_path %></li>
      <li><%= link_to 'Sign Out', destroy_customer_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In', new_customer_session_path %></li>
    <% end %>
  </div>
</nav>