<nav class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: 'Logo' %>
    <% end %>
  </div>

  <div class="nav-links">
    <ul>
      <% if customer_signed_in? %>
        <li><%= link_to 'ランキング', view_ranking_path %></li>
        <li><%= link_to 'ランダム表示', random_word_path %></li>
        <li><%= link_to '話題投稿', new_word_path %></li>
        <li><%= link_to '話題一覧', words_path %></li>
        <li><%= link_to 'マイページ', customers_mypage_path %></li>
        <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
        <li>ようこそ <%= current_customer.username %> さん！</li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "会員編集",  admin_customers_path %></li>
        <li><%= link_to "ジャンル追加",  admin_genres_path %></li>
        <li><%= link_to "ログアウト",  destroy_admin_session_path, method: :delete %></li>
        <li>管理者ログイン中</li>
      <% else %>
        <li><%= link_to 'ランキング', view_ranking_path %></li>
        <li><%= link_to 'ランダム表示', random_word_path %></li>
        <li><%= link_to '話題投稿', need_path %></li>
        <li><%= link_to '話題一覧', words_path %></li
        <li><%= link_to 'ログイン', new_customer_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>